<h1>Sessions New</h1>
<p><%= form_tag login_url do %>
  <p>
  <label for="name">Name:</label>
  <%= text_field_tag :user_name, params[:user_name] %>
  </p>
  
  <p>
  <label for="password">Password:</label>
  <%= password_field_tag :password, params[:password] %>
  </p>
  
  <%= submit_tag 'Login' %>
  
  <% end %></p>
