<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'view', @user %> | <%= link_to 'delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %><br />
<%= link_to 'Back', users_path %>
