<div class="beerintro">
	<h1>What's BeerMe</h1>
	<p class="intro">BeerMe is the new social beer drinking application that allows you to share with your friends the beer that you are drinking.<p>
	<p class="intro">Browse our ever growing selection of beers that other people have shared.  
	</p>
	<p class="intro">Sign up today and start sharing.</p>
	<p class="intro">Cheers!!!
	</p>

</div>

<div class="beer">
	<h1>New user</h1>
	
	<%= render 'form' %>
	
	<div class="redbutton">
	<%= link_to 'Cancel', beers_path %>
	</div>
</div>

<div class="beerintro">
	<h1>Sign up Today</h1>
	<p class="intro">By registering you get many benefits that include:
	</p>
	<ul>
		<li>Allows you to check in any beer</li>
		<li>Create reviews for the beer that you check in</li>
		<li>Automatically qualify for our weekly beer drawings</li>
		<li>Many more...</li>
	</ul>

</div>